<%- include("partials/header") %>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/img/logo.png" width="45" alt="Find My Hobby" /></a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <div class="nav-menu" onclick="openNavMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link fw-bold" href="/carikan-saya-hobi">CARIKAN SAYA HOBI</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="welcome" class="bg-warning" style="padding-bottom: 0px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-5 offset-md-1">
                    <h1 class="fw-bold text-light"><%= hobby.name %></h1>
                    <p class="text-light">Kategori: <%= hobby.category[0].name %></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row my-3">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 offset-md-1">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Home</a></li>
                        <li class="breadcrumb-item active fw-bold" aria-current="page"><%= hobby.name %></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <%- hobby.description %>
            </div>
        </div>
    </div>

<%- include("partials/footer") %>