<%- include("backend-templates/backend-header") %>

<div class="row my-3">
    <div class="col-md-4">
        <form action="/admin/tampil-kategori" method="POST" class="container-form w-100 mx-auto">
            <input class="form-control mr-sm-2 py-4 shadow-sm border-0" type="search" placeholder="Search" aria-label="Search" name="search">
        </form>
    </div>
</div>

<div class="row">
    <% if (categories.length !== 0) { %>
        <% categories.forEach(category => { %>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card px-3 border-0 bg-transparent">
                    <div class="card-body px-0">
                        <h4 class="card-title mb-3"><%= category.name %></h4>
                        <a href="/admin/mengubah-kategori/<%= category.slug %>" class="btn btn-sm btn-warning mr-2"><span class="ti-pencil-alt"></span> Ubah</a>
                        <form action="/admin/menghapus-kategori" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger mr-2" onClick="return confirm('Yakin ingin menghapus kategori ini? <%= category.name %>')" name="categoryId" value="<%= category._id %>"><span class="ti-trash"></span> Hapus</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="col-lg">
            <h3>Kategori kosong</h3>
        </div>
    <% } %>
</div>

<%- include("backend-templates/backend-footer") %>