<%- include("backend-templates/backend-header") %>

<div class="row my-3">
    <div class="col-md-4">
        <form action="/admin/tampil-semua-hobi" method="POST" class="container-form w-100 mx-auto">
            <input class="form-control mr-sm-2 py-4 shadow-sm border-0" type="search" placeholder="Search" aria-label="Search" name="search">
        </form>
    </div>
</div>

<div class="row">
    <% if (hobbies.length !== 0) { %>
        <% hobbies.forEach(hobby => { %>
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card px-3 shadow-sm border-0">
                    <div class="card-body px-0">
                    <a class="text-dark text-underline-dark" href="/hobby/<%= hobby.category[0].slug %>/<%= hobby.slug %>"><h4 class="card-title mb-2"><%= hobby.name %></h4></a>
                    <span class="badge bg-light text-dark mb-3"><%= hobby.category[0].name %></span>
                    <h6 class="mb-3 small">Views: <%= hobby.visited_count %></h6>
                    <% if (hobby.suggester_email || hobby.suggester_email === "") { %>
                        <h6 class="mb-3 small">Oleh: <%= hobby.suggester_email %></h6>
                    <% } %>
                    <p class="card-text"><%= hobby.description.substring(0, 30) + "..." %></p>
                    <a href="/admin/mengubah-hobi/<%= hobby.slug %>" class="btn btn-warning mr-2"><span class="ti-pencil-alt"></span> Ubah</a>
                    <form action="/admin/menghapus-hobi" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger mr-2" onClick="return confirm('Yakin ingin menghapus hobi ini? <%= hobby.name %>')" name="hobbyId" value="<%= hobby._id %>"><span class="ti-trash"></span> Hapus</button>
                    </form>
                    </div>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div class="col-lg">
            <h3>Hobby kosong</h3>
        </div>
    <% } %>
</div>

<%- include("backend-templates/backend-footer") %>